@*<div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning</strong> You can not edit this advertisements.           alert-warning
    </div>*@

<div class="alert alert-warning" style="text-align:center">
    <strong>Warning!</strong> <br/>
    You can not edit this advertisements
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>